# Awesome Registry

A curated list of my public repositories, automatically updated.

<div class="github-only">

[k0pernikus' public github repositories web view](https://k0pernikus.github.io/registry/)

</div>

## Contents
{% for id, category in categories.items() %}
- [{{ category.display_name }}](#{{ id }})
{% endfor %}

{% for id, category in categories.items() %}
## <i class="{{ category.icon }}"></i> {{ category.display_name }} {: #{{ id }} }

| Name | Description | Tags |
| :--- | :--- | :--- |
{% for repo in category.repos -%}
| <a href="{{ repo.url }}" target="_blank">`{{ repo.name }}`</a> | {{ repo.description or '*No description provided.*' }} | {% for topic in repo.repositoryTopics or [] %}<repo-tag>{{ topic.name }}</repo-tag> {% endfor %} |
{% endfor %}

{% endfor %}
